!.gitignore

# Products
_build/

# Intermediates
src/lj_bcdef.h
src/host/buildvm_arch.h
src/jit/vmdef.lua
src/lj_ffdef.h
src/lj_folddef.h
src/lj_libdef.h
src/lj_recdef.h

# Windows
*.obj
*.ilk
*.pdb
*.exe
*.lib
*.dll
*.exp

# Mac & Linux
*.o
*.a
*.so
